@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: bold
  font-style: italic
  src: local('Inter Bold Italic'), local('Inter-BoldItalic'), url('~/public/fonts/Inter-BoldItalic.woff') format('woff2'), url('~/public/fonts/Inter-BoldItalic.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 500
  font-style: italic
  src: local('Inter Medium Italic'), local('Inter-MediumItalic'), url('~/public/fonts/Inter-MediumItalic.woff2') format('woff2'), url('~/public/fonts/Inter-MediumItalic.woff') format('woff')


@font-face
  font-family: 'Inter'
  font-display: swap
  src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'), url('~/public/fonts/Inter-ThinItalicBETA.woff2') format('woff2'), url('~/public/fonts/Inter-ThinItalicBETA.woff') format('woff')
  font-weight: 100
  font-style: italic

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: normal
  font-style: normal
  src: local('Inter Regular'), local('Inter-Regular'), url('~/public/fonts/Inter-Regular.woff2') format('woff2'), url('~/public/fonts/Inter-Regular.woff') format('woff')


@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 900
  font-style: normal
  src: local('Inter Black'), local('Inter-Black'), url('~/public/fonts/Inter-Black.woff2') format('woff2'), url('~/public/fonts/Inter-Black.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 900
  font-style: italic
  src: local('Inter Black Italic'), local('Inter-BlackItalic'), url('~/public/fonts/Inter-BlackItalic.woff2') format('woff2'), url('~/public/fonts/Inter-BlackItalic.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 300
  font-style: normal
  src: local('Inter Light BETA'), local('Inter-LightBETA'), url('~/public/fonts/Inter-LightBETA.woff2') format('woff2'), url('~/public/fonts/Inter-LightBETA.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 600
  font-style: normal
  src: local('Inter Semi Bold'), local('Inter-SemiBold'), url('~/public/fonts/Inter-SemiBold.woff2') format('woff2'), url('~/public/fonts/Inter-SemiBold.woff') format('woff')


@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 800
  font-style: italic
  src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'), url('~/public/fonts/Inter-ExtraBoldItalic.woff2') format('woff2'), url('~/public/fonts/Inter-ExtraBoldItalic.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: bold
  font-style: normal
  src: local('Inter Bold'), local('Inter-Bold'), url('~/public/fonts/Inter-Bold.woff2') format('woff2'), url('~/public/fonts/Inter-Bold.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 200
  font-style: italic
  src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'), url('~/public/fonts/Inter-ExtraLightItalicBETA.woff2') format('woff2'), url('~/public/fonts/Inter-ExtraLightItalicBETA.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 200
  font-style: normal
  src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'), url('~/public/fonts/Inter-ExtraLightBETA.woff2') format('woff2'), url('~/public/fonts/Inter-ExtraLightBETA.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 800
  font-style: normal
  src: local('Inter Extra Bold'), local('Inter-ExtraBold'), url('~/public/fonts/Inter-ExtraBold.woff2') format('woff2'), url('~/public/fonts/Inter-ExtraBold.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 100
  font-style: normal
  src: local('Inter Thin BETA'), local('Inter-ThinBETA'), url('~/public/fonts/Inter-ThinBETA.woff2') format('woff2'), url('~/public/fonts/Inter-ThinBETA.woff') format('woff')


@font-face
  font-family: 'Inter'
  font-display: swap
  font-weight: 300
  font-style: italic
  src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'), url('~/public/fonts/Inter-LightItalicBETA.woff2') format('woff2'), url('~/public/fonts/Inter-LightItalicBETA.woff') format('woff')

//@font-face
//  font-family: 'Inter'
//  font-display: swap
//  font-weight: normal
//  font-style: italic
//  src: local('Inter Italic'), local('Inter-Italic'), url('../../public/fonts/Inter-Italic.woff2') format('woff2'), url('../../public/fonts/Inter-Italic.woff') format('woff')
//
//@font-face
//  font-family: 'Inter'
//  font-display: swap
//  font-weight: 600
//  font-style: italic
//  src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'), url('../../public/fonts/Inter-SemiBoldItalic.woff2') format('woff2'), url('../../public/fonts/Inter-SemiBoldItalic.woff') format('woff')
//
//@font-face
//  font-family: 'Inter'
//  font-display: swap
//  font-weight: 500
//  font-style: normal
//  src: local('Inter Medium'), local('Inter-Medium'), url('../../public/fonts/Inter-Medium.woff2') format('woff2'), url('../../public/fonts/Inter-Medium.woff') format('woff')

